body {
	/*padding-left: 10em;
	padding-right: 10em;*/
	margin: 0;
	font-family: 'Inconsolata', Consolas, monospace;
	zoom: 150%;
}

.solid-line-3 {
	border: none;
	border-top: 3px solid #000000;
}

.solid-line-2 {
	border: none;
	border-top: 2px solid #000000;
}

.ab-episode-card-container {
	display: flex;
	width: fit-content;
	border: none;
	border: 2px solid black;
}

.ab-episode-card-left-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ab-episode-card-number-link {
	color: inherit;
	text-decoration: inherit;
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	margin: 0.5em;
}

.ab-episode-card-right-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	border: none;
	border-left: 2px solid black;
}

.ab-episode-card-right-container > * {
	margin: 0px;
}

button {
	display: block;
	border: 2px solid black;
	background-color: white;
	color: black;
	font-family: 'Inconsolata', Consolas, monospace;
	font-style: italic;
	cursor: pointer;
}

button:hover {
	font-style: italic;
	background-color: black;
	color: white;
}

.metadata {
	font-style: italic;
}